* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: #0f0e17;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6; }

.icon-bookmark,
.icon-bubbles2 {
  font-size: 30px;
  color: #ff8906; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  min-height: 50rem;
  border: 1px solid black;
  border-radius: 10px; }

.header {
  font-size: 1.4;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid black; }

.content {
  display: flex; }

.sidebar {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.hotel-view {
  flex: 1;
  height: 80rem; }

.search {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search-input {
    background-color: #fffffe;
    border: 1px solid transparent;
    border-radius: 50px;
    font-family: 'Playfair Display', serif;
    font-size: 1.6rem;
    padding: .7rem 2rem;
    width: 90%;
    transition: all .3s; }
    .search-input:focus {
      outline: none;
      width: 100%; }

.logo {
  margin-left: 3rem; }

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer; }

.side-nav {
  font-size: 2.1rem;
  list-style: none;
  margin-top: 4rem; }
  .side-nav-item {
    display: flex;
    align-items: center;
    position: relative; }
    .side-nav-item:not(:last-child) {
      margin-bottom: .5rem; }
  .side-nav-item::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 3px;
    background-color: #ff8906;
    transform: scaleY(0);
    transition: transform .2s ease, width .4s .2s; }
  .side-nav-item:hover::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav-icon {
    color: #a7a9be;
    margin-left: 3.5rem;
    z-index: 10; }
  .side-nav-link {
    color: #a7a9be;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    text-decoration: none;
    z-index: 10; }

.legal {
  font-size: 1.4rem;
  text-align: center;
  padding: 2.5rem;
  color: #a7a9be; }
