$button: #ff8906;
$btn-text: #fffffe;
$headline: #fffffe;
$headerline-secondary: #f25f4c;
$headerline-tertiary: #a8969c;
$paragraph: #a7a9be;
$border: black;
$bg-block: #f25f4c;
$bg-big-block: #fffffe;